<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.fnmedia">
        <category id="connection" label="30001" help="">
            <group id="1">
                <setting id="server" type="string" label="30002" help="30003">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30002</heading>
                    </control>
                </setting>
                <setting id="usehttps" type="boolean" label="30004" help="30005">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="username" type="string" label="30006" help="30007">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30006</heading>
                    </control>
                </setting>
                <setting id="password" type="string" label="30008" help="30009">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30008</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
                <setting id="verifyssl" type="boolean" label="30010" help="30011">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
            </group>
        </category>
        <category id="playback" label="30012" help="">
            <group id="1">
                <setting id="usecloud" type="boolean" label="30013" help="30014">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="sortorder" type="string" label="30015" help="">
                    <level>0</level>
                    <default>ASC</default>
                    <constraints>
                        <options>
                            <option label="30016">ASC</option>
                            <option label="30017">DESC</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30015</heading>
                    </control>
                </setting>
                <setting id="askversion" type="boolean" label="30029" help="30030">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="directttl" type="integer" label="30031" help="30032">
                    <level>0</level>
                    <default>30</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>240</maximum>
                        <step>5</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30031</heading>
                    </control>
                </setting>
                <setting id="pagesize" type="integer" label="30027" help="30028">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>1000</maximum>
                        <step>50</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30027</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30018" help="">
            <group id="1">
                <setting id="root_guid" type="string" label="30019" help="30020">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30019</heading>
                    </control>
                </setting>
                <setting id="proxyport" type="integer" label="30021" help="30022">
                    <level>1</level>
                    <default>22346</default>
                    <constraints>
                        <minimum>1024</minimum>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer">
                        <heading>30021</heading>
                    </control>
                </setting>
                <setting id="vfsscheme" type="string" label="30025" help="30026">
                    <level>1</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30025</heading>
                    </control>
                </setting>
                <setting id="token" type="string" label="30023" help="30024">
                    <level>3</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30023</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="library" label="30033">
            <group id="1">
                <setting id="libsync" type="boolean" label="30034" help="30035">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="libsync_interval" type="integer" label="30036" help="30037">
                    <level>0</level>
                    <default>12</default>
                    <constraints>
                        <options>
                            <option label="30038">6</option>
                            <option label="30039">12</option>
                            <option label="30040">24</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30036</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
